name: build-and-push

env:
  DOCKER_REPO: "intellicon"
  DOCKER_IMAGE_NAME: "dotnet-sonar"
  CLOUD_BUILDER_NAME: "dotnet-sonar"
  TARGET_PLATFORMS: "linux/amd64,linux/arm64"

# Trigger whenever a new tag is pushed that matches the pattern v*.*.*
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      BUILDX_BUILDER: "${{ env.DOCKER_REPO }}/${{ env.CLOUD_BUILDER_NAME }}"

    steps:
      # https://github.com/docker/metadata-action
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: "${{ env.DOCKER_REPO }}/${{ env.DOCKER_IMAGE_NAME }}"  # https://github.com/docker/metadata-action?tab=readme-ov-file#images-input
          tags: type=semver,pattern=version-{{version}}                          # https://github.com/docker/metadata-action?tab=readme-ov-file#typesemver
          flavor: latest=false

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_ACCOUNT }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "${{ env.DOCKER_REPO }}/${{ env.CLOUD_BUILDER_NAME }}"

      # https://github.com/docker/build-push-action
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          tags: ${{ steps.meta.outputs.tags }}
          platforms: "${{ env.TARGET_PLATFORMS }}"
          push: true
